@tailwind base;

@layer base {
  h1 {
    @apply mt-1 text-2xl font-bold;
  }

  h2 {
    @apply mt-1 text-xl font-bold;
  }

  h3 {
    @apply mt-1 text-lg font-bold;
  }
}

@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}